{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}

<div class="container">
<h1> A propos de moi </h1>
    <br>
    <p> {{ user.prenom }} {{ user.nom }} </p>
    <br>
    <img src="https://images.unsplash.com/photo-1625477476024-8435a4b9e8fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
    alt="ma photo"/>
    <br>
    <p> {{ user.aPropos }} </p>
</div>
{% endblock %}
