{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Bienvenue</h1>
    <p>!!! le CRUD de la section "Réalisation" n'est pas encore fonctionnel !!! </p>
    <br>
    <a href="/">Retour au site</a>
    
</div>

{% endblock %}