html{
    background-color: black;
}

body {
    background-color: wheat;
    margin: auto;
    width: 80%;
}

.princip {
    height: 80px;
    width: 100%;
    background-color: #b6ac8b;
}

.accueil h1{
    text-align: center;
}

.news h1{
    text-align: center;
}

footer{
    background-color: #b6ac8b;
}
